html,
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    color: #21243d;
    background: #e5e5e5;
}

h1,
p,
h2,
h3,
h4 {
    margin: 0;
}

.blog-item h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;

}


.blog-item span {
    color: #8594a3;
}

.blog-item p {
    line-height: 24px;
    font-weight: 400;
}

header nav {
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 33px;
    align-items: center;
}

header nav li {
    list-style: none;
}

/* header nav li:last-child {
    margin-right: 60px;
} */


header nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000;
}


/* Hero Section */

.hero-section {
    background: #fff;
    padding: 158px 0;
}

.hero-section .hero-inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
}

.hero-left p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.hero-left button {
    margin-top: 38px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #000;
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-right img {
    width: 250px;
    border-radius: 50%;
}


/*?  Post  Section*/

.posts-section {
    background: #EDF7FA;
    padding: 32px 0;
}

.posts-section-inner {
    max-width: 960px;
    margin: 0 auto;
}

.posts-section .posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts-section .posts-header h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

.posts-section .posts-header a {
    color: #00A8CC;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.posts {
    display: flex;
    gap: 20px;
}

.post-item {
    background: #fff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 25px;
}

.post-item header h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 16px;
}

.post-item>div {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 11px;
    display: flex;
    gap: 26px;
    align-items: center;
    margin-bottom: 20px;
}

.post-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


/* ? Feature work sectionm */


.featured-section {
    background: #fff;
    padding: 32px 0;
}

.featured-section-inner {
    max-width: 960px;
    margin: 0 auto;
}


.featured-section .fs-header h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 22px;
}

.fs-item {
    display: flex;
    gap: 18px;
    margin-bottom: 32px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 16px;
}

.fs-content h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 16px;
}

.fs-content div {
    display: flex;
    gap: 36px;
    align-items: center;
}

.fs-content .badge {
    width: 60px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fs-content .category {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.fs-content p {
    margin-top: 15;
}


@media (width <= 600px) {
    .hero-section .hero-inner {
        flex-direction: column-reverse;
    }

    .hero-left {
        text-align: center;
        margin: 0 20px;
    }

    .hero-right {
        margin-bottom: 30px;
    }
}